{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}

{% block head %}
    {% include "core/include/connecting_NicEdit.html" %}
{% endblock %}

{% block content %}
    <h1>Добавление новости</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.img_id.label }}<br>
            {{ form.img_id(class="form-control", type="number") }}<br>
            {% for error in form.img_id.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="text") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control", type="text") }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {% if message %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endif %}
    </form>
{% endblock %}