{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control", type="file") }}<br>
            {% for error in form.file.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control", type="text") }}<br>
            {% for error in form.description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>

        <p>{{ form.private() }} {{ form.private.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
{%  endblock %}